body {
  background-color: darkseagreen;
}

h1 {
  font-family: georgia; color: white;
  text-align: center;
}

h2 {
  font-family: georgia; color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}